---
import ToC from "../../components/ToC.astro";
import Layout from "../../layouts/Layout.astro";
import { trimDescription } from "../../utils";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);

const dateFormat = (_date: Date): string => {
  const els = _date.toISOString().split(/T|\.|:/);
  const date = els[0];
  const timestamp = els.splice(1, 2);
  return `${date} ${timestamp.join(":")} (UTC)`;
};

const getMetaDescription = (): string =>
  trimDescription(post.data.description || post.body)!;
---

<style lang="scss">
  .metadata {
    h1 {
      margin-bottom: 0rem;
    }

    span {
      color: #a1a1a1;
    }

    p {
      margin-top: 0;
    }
  }

  .separator {
    margin-top: 1.5rem;
  }
</style>

<style is:global lang="scss">
  main#content {
    overflow-x: auto;

    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    a {
      font-weight: 500;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    hr {
      border-top: 1px top currentColor;
      margin: 2rem none;
    }

    blockquote {
      color: #999999;
      border-inline-start: 0.25rem solid currentColor;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      padding-inline-start: 1rem;
      font-style: italic;
      font-weight: 500;
    }

    img,
    picture,
    video {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      display: block;
    }

    kbd {
      background-color: #202020;
      color: #e5e5e5;
      border-radius: 0.3125rem;
      padding-top: 0.2rem;
      padding-inline-end: 0.375rem;
      padding-bottom: 0.1875rem;
      padding-inline-start: 0.375rem;
      font-family: inherit;
      font-size: 0.875rem;
      font-weight: 500;
    }

    //#region codeblocks
    code {
      font-size: 0.9rem;
      font-weight: 600;

      &:before,
      &:after {
        content: "`";
      }
    }

    a code,
    h1 code,
    h2 code,
    h3 code,
    h4 code,
    blockquote code,
    thead th code {
      color: inherit;
    }

    pre {
      padding-top: 1rem;
      padding-inline-end: 1rem;
      padding-bottom: 1rem;
      border-radius: 0.25rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      padding-inline-start: 1rem;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.5;
      overflow-x: auto;
      position: relative;

      code {
        font-weight: inherit;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
        border-width: 0;
        border-radius: 0;
        padding: 0;
        overflow: auto;

        button.rehype-pretty-copy {
          background: none;
          border: none;

          &:hover {
            cursor: pointer;
          }
        }

        &:before,
        &:after {
          content: none;
        }

        &[data-line-numbers] {
          counter-reset: line;
        }

        &[data-line-numbers] > [data-line]::before {
          counter-increment: line;
          content: counter(line);

          /* Other styling */
          display: inline-block;
          width: 0.75rem;
          margin-right: 1rem;
          text-align: right;
          color: gray;
        }

        &[data-line-numbers-max-digits="2"] > [data-line]::before {
          width: 1.25rem;
        }

        &[data-line-numbers-max-digits="3"] > [data-line]::before {
          width: 1.75rem;
        }

        &[data-line-numbers-max-digits="4"] > [data-line]::before {
          width: 2.25rem;
        }
      }

      &[data-language]:before {
        font-size: 0.7rem;
        position: absolute;
        top: 0.3rem;
        right: 0.4rem;
        font-style: normal;
        content: attr(data-language);
      }

      &[data-language="js"]:before {
        content: "JavaScript";
      }
      &[data-language="html"]:before {
        content: "HTML";
      }
      &[data-language^="plain"]:before {
        content: "Plain";
      }
      &[data-language^="sh"]:before,
      &[data-language="bash"]:before {
        content: "Shell";
      }
    }

    figure[data-rehype-pretty-code-figure] {
      position: relative;

      figcaption {
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        font-size: 0.9rem;
        z-index: 1;
      }

      figcaption + pre {
        padding-top: 2rem;

        code {
          border-top: 1px solid currentColor;
          padding-top: 0.3rem;
        }
      }
    }
    //#endregion

    //#region lists
    ol,
    ul {
      margin-top: 1rem;
      margin-bottom: 1rem;
      // padding-inline-start: 2rem;
    }

    ol {
      list-style-type: decimal;
      & > li::marker {
        font-weight: 400;
        color: #808080;
      }
    }

    ul {
      list-style-type: disc;
      & > li::marker {
        font-weight: 400;
        color: #808080;
      }
    }
    //#endregion

    table {
      table-layout: fixed;
      display: block;
      width: 100%;
      font-size: 0.875rem;
      line-height: 1.7;
      border-collapse: collapse;

      thead {
        border-bottom: 2px solid currentColor;
      }

      th {
        vertical-align: bottom;
        font-weight: 600;
      }

      tr:not(:last-child) {
        border-bottom: 1px solid currentColor;
      }
      td:not(:last-child) {
        border-right: 1px solid currentColor;
      }

      td,
      th {
        text-align: start;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }

      td {
        vertical-align: baseline;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
      }
    }
  }
</style>

<Layout
  blogpost="true"
  title={post.data.title}
  description={getMetaDescription()}
  blogData={post.data}
>
  <div class="metadata">
    <h1>{post.data.title}</h1>
    <span title="Posted and updated date">
      <p>
        Posted on: {dateFormat(post.data.pubDate)}
        {
          post.data.updatedDate &&
            typeof post.data.updatedDate !== "string" &&
            post.data.updatedDate > post.data.pubDate && (
              <>
                <br />
                Last updated: {dateFormat(post.data.updatedDate)}
              </>
            )
        }
      </p>
    </span>
    {
      post.data.description && (
        <p title="Post description">{post.data.description}</p>
      )
    }
    <ToC headings={headings} />
    {getMetaDescription()}
  </div>
  <hr class="separator" />
  <main id="content">
    <Content />
  </main>
</Layout>
