---
import ToC from "../../components/ToC.astro";
import Layout from "../../layouts/Layout.astro";
import { trimDescription } from "../../utils";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);

const dateFormat = (_date: Date): string => {
  const els = _date.toISOString().split(/T|\.|:/);
  const date = els[0];
  const timestamp = els.splice(1, 2);
  return `${date} ${timestamp.join(":")} (UTC)`;
};

const getMetaDescription = (): string => {
  const base = `Posted: ${post.data.pubDate.toISOString().split("T")[0]}`;
  if (post.data.description) {
    return `${base} | ${trimDescription(post.data.description)}`;
  }
  return base;
};
---

<style lang="scss">
  @use "tailwindcss";
  @plugin "@tailwindcss/typography";

  .metadata {
    h1 {
      margin-bottom: 0rem;
    }

    span {
      color: #a1a1a1;
    }

    p {
      margin-top: 0;
    }
  }

  .separator {
    margin-top: 1.5rem;
    margin-bottom: -1.5rem;
  }
</style>

<Layout title={post.data.title} description={getMetaDescription()}>
  <div class="metadata">
    <h1>{post.data.title}</h1>
    <span title="Posted and updated date">
      <p>
        Posted on: {dateFormat(post.data.pubDate)}
        {
          post.data.updatedDate &&
            typeof post.data.updatedDate !== "string" &&
            post.data.updatedDate > post.data.pubDate && (
              <>
                <br />
                Last updated: {dateFormat(post.data.updatedDate)}
              </>
            )
        }
      </p>
    </span>
    {
      post.data.description && (
        <p title="Post description">{post.data.description}</p>
      )
    }
    <ToC headings={headings} />
  </div>
  <hr class="separator" />
  <main
    class:list={[
      `!prose !prose-neutral !prose-invert prose-a:text-inherit`, // Colors
      "!max-w-none", // Sizes
      "font-sans prose-a:underline", // Text
      "prose-img:rounded-xl", // Other
    ]}
  >
    <Content />
  </main>
</Layout>
