---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { trimDescription } from "../utils";
const posts = await getCollection("blog");

const dateToIso = (date: Date) => date.toISOString().split("T")[0];
---

<Layout>
  <ul>
    {
      posts.map((post) => (
        <li class="rounded-md bg-neutral-800 mb-4 py-2 px-3 transition-all hover:bg-neutral-700 hover:shadow-md">
          <a href={`/blog/${post.id}`}>
            <h2 class="my-0!">{post.data.title}</h2>
            <span class="text-neutral-400!">
              Posted on: {dateToIso(post.data.pubDate)}
              {post.data.updatedDate &&
                post.data.updatedDate > post.data.pubDate &&
                `| Last updated: ${dateToIso(post.data.updatedDate)}`}
            </span>
            {post.data.description && (
              <p>{trimDescription(post.data.description)}</p>
            )}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
