---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { trimDescription } from "../utils";
const posts = (await getCollection("blog")).filter(
  (post) => import.meta.env.DEV || post.data.showInUI
);

const dateToIso = (date: Date) => date.toISOString().split("T")[0];
---

<style lang="scss">
  ul {
    list-style-type: none;
    padding: 0;

    @media (width >= 48rem) {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }

    & > p {
      margin-top: 0;
    }
  }

  li {
    border-radius: 0.375rem;
    background-color: #202020;
    color: #dfdfdf;

    margin-bottom: 1rem;

    transition-property: background-color color;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #262626;
      color: #dddddd;
      box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    }

    a {
      display: block;
      padding: 0.75rem 0.75rem;
    }

    h2 {
      margin: 0;
    }

    span {
      color: #a1a1a1;
    }

    p {
      margin-bottom: 0;
    }
  }
</style>

<Layout>
  {posts.length === 0 && <p>Nothing here yet... you're early!</p>}
  <ul class="indent">
    {
      posts.map((post) => (
        <li>
          <a title={post.data.title} href={`/blog/${post.id}`}>
            <h2>{post.data.title}</h2>
            <span>
              Posted on: {dateToIso(post.data.pubDate)}
              {post.data.updatedDate &&
                post.data.updatedDate > post.data.pubDate &&
                ` | Last updated: ${dateToIso(post.data.updatedDate)}`}
            </span>
            {post.data.description && (
              <p>{trimDescription(post.data.description)}</p>
            )}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
